html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgba(212, 106, 106, 0.1)
}
header{
  background-color: rgba(255, 170, 170,0.2)
}

